ottawaadf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ottawaadf"
		},
		"DstDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DstDB'"
		},
		"SRCSQLVM_SRCDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SRCSQLVM_SRCDB'",
			"defaultValue": "Integrated Security=True;Data Source=srcsqlvm;Initial Catalog=srcdb"
		},
		"SRCSQLVM_SRCDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SRCSQLVM_SRCDB'"
		},
		"StagingDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'StagingDB'"
		},
		"SRCSQLVM_SRCDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Sqladminuser"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SHIR01')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DstDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('DstDB_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SHIR01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRCSQLVM_SRCDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SRCSQLVM_SRCDB_connectionString')]",
					"userName": "[parameters('SRCSQLVM_SRCDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SRCSQLVM_SRCDB_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SHIR01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('StagingDB_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SHIR01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSTDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DstDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Voters"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DstDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StagingDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "nchar"
					},
					{
						"name": "LastModified",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Voters"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StagingDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcdb_voters')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SRCSQLVM_SRCDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "nchar"
					},
					{
						"name": "LastModified",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Voters"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SRCSQLVM_SRCDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InitialLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "InitialLoadVoters",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "LastModified",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastModified",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcdb_voters",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DSTDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-02T02:54:01Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcdb_voters')]",
				"[concat(variables('factoryId'), '/datasets/DSTDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrLoadWithStaging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyToStaging",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "LastModified",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastModified",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcdb_voters",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyToStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[MergeVoters]"
						},
						"linkedServiceName": {
							"referenceName": "StagingDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-09T17:54:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcdb_voters')]",
				"[concat(variables('factoryId'), '/datasets/StagingDB')]",
				"[concat(variables('factoryId'), '/linkedServices/StagingDB')]"
			]
		}
	]
}